{% load pipeline %}
{% load static %}

<!doctype html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}">

  {% stylesheet "main" %}

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo-pythonrio.png' %}" alt="Logo PythOnRio">
      </a>
    </div>
  </div>
</nav>

  {% block content %}
  {% endblock %}


  {% javascript "main" %}
</body>
</html>
