
<div class="seção">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 mb-4-em">
        <h2>Localização</h2>
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <p>
          {{ evento_atual.endereço }}
        </p>
        <div id="map-canvas" class="location-area" data-address="{{ evento_atual.endereço }}"></div>
      </div>
    </div>

  </div>
</div>


{% block extra-js %}
  <script src="//maps.google.com/maps/api/js?key=AIzaSyA7l-tQWZJZinK0_jTYcI327dX2_dYIMbY
"></script>
  <script type="text/javascript">
    (function () {
      'use strict';

      var conf = {};

      // Init functions, called on DOMContentLoaded event
      conf.init = function () {
          conf.map.init($('#map-canvas'));
      };

      /***
          Google Maps implementation
      ***/
      conf.map = {
          marker: '/static/img/marker-default.png'
      };

      // Google Maps configs
      conf.map.init = function ($element) {
          conf.map.element = $element;

          conf.map.geocoder = new google.maps.Geocoder();

          conf.map.latlng = new google.maps.LatLng(0, 0);

          conf.map.options = {
              zoom: 16,
              center: conf.map.latlng,
              scrollwheel: false,
              streetViewControl: true,
              labels: true,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          conf.map.canvas = new google.maps.Map(conf.map.element.get(0), conf.map.options);
          conf.map.canvas.setCenter(conf.map.latlng);

          conf.map.createMarker();
      };

      conf.map.createMarker = function () {

          conf.map.address = conf.map.element.attr('data-address');

          conf.map.geocoder.geocode({ 'address': conf.map.address}, function (results, status) {

              if (status === google.maps.GeocoderStatus.OK) {

                  conf.map.canvas.setCenter(results[0].geometry.location);

                  new google.maps.Marker({
                      map: conf.map.canvas,
                      position: results[0].geometry.location,
                      icon: conf.map.marker
                  });
              } else {
                  if (window.console) {
                      console.log('Google Maps was not loaded: ', status);
                  }
              }
          });
      };

      conf.init();
    }());

  </script>
{% endblock %}
