
  <div id="projetos" class="seção">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
          <h2>O que estamos fazendo?</h2>
          <hr />
        </div>
      </div>

      <div class="row">

        <div class="col-md-3 col-sm-6"> <i class="fa fa-github"></i>
          <h4>Github</h4>
          <p>Acesse o nosso <a href="https://github.com/pythonrio">github</a> e ajude a contribuir com projetos da nossa comunidade.</p>
        </div>

        <div class="col-md-3 col-sm-6"> <i class="fa fa-file-text-o"></i>
          <h4>Blog</h4>
          <p>Nosso blog é colaborativo e usamos django para o site inteiro. Confira nossos <a href="#TODO">posts</a> e contribua também pelo github.</p>
        </div>

        <div class="col-md-3 col-sm-6"> <i class="fa  fa-youtube-play"></i>
          <h4>Youtube</h4>
          <p>Nosso canal no youtube sobre meetups, entrevistas e videos da comunidade. <a href="https://www.youtube.com/channel/UCGl4xDZYUYGg4_aMah32yjQ/feed">Acesse por aqui.</a></p>
        </div>

        <div class="col-md-3 col-sm-6"> <i class="fa fa-angellist"></i>
          <h4>Eventos</h4>
          <p>Buscamos realizar encontros e eventos em todo estado do Rio de Janeiro. Se na sua cidade ainda não rolou, que tal levantar esta bandeira?</p>
        </div>

        <div class="col-md-3 col-sm-6"> <i class="fa fa-gears"></i>
          <h4>Stack Carioca</h4>
          <p><a href="https://stackcarioca.github.io/">Stack carioca</a> é um projeto para listar ferramentas, módulos e aplicações com código aberto feitas por pessoas da comunidade Python do Rio de Janeiro.</p>
        </div>

      </div>

    </div>

  </div>
