
  <div id="sobre" class="seção">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 mb-4-em">
          <h2>Sobre</h2>
          <hr/>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-12 col-md-4">
          <h4>Quem Somos</h4>
          <p>
            PythOnRio é uma comunidade de usuários da linguagem e do ecossistema Python no Estado do Rio de Janeiro. Somos uma comunidade aberta e acolhemos tanto iniciantes quanto hackers do interpretador CPython. :)
          </p>
        </div>

        <div class="col-xs-12 col-md-4">
          <h4>O que fazemos</h4>
          <p>
            Realizamos encontros e eventos de Python em toda a grande Rio. Colaboramos com projetos open source, criamos ferramentas, módulos e aplicações com código aberto. Quer saber mais, dê uma olhada no Stack Carioca.
          </p>
        </div>

        <div class="col-xs-12 col-md-4">
          <h4>Entenda a PythOnRio</h4>
          <p>
            Um grupo de pessoas unidas não apenas por uma linguagem, mas por valores. Leia o este artigo <a href="http://softwarelivre.org/fisl17/noticias/pythonrio-como-renasce-uma-comunidade">PythonRio: como renasce uma comunidade </a> e veja as <a href="https://www.youtube.com/playlist?list=PLQVoAioi-pMxr3Aai_l-4aM-wh24u9Jwp">entrevistas</a> para entender melhor como surgimos e porque somos apaixonados por Python.
          </p>
        </div>

      </div>

    </div>
  </div>
